* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin: 1rem 0;
}

footer {
  text-align: center;
  margin: 1rem 0;
}

/** FORM */
form {
  font-size: 1.15em;
  display: flex;

  justify-content: center;
}

.col-left, .col-right {
  width: 20%;
}

.col-right {
  display: flex;

  justify-content: center;
  align-items: center;
}

.input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input > label + * {
  margin-left: 1rem;
}

.input + .input {
  margin-top: 0.3rem;
}

input[type=submit] {
  font-weight: 100;
  font-size: 1.1em;

  padding: 0.3rem 0.8rem;
}

/** MAIN */
.main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.canvas {
  margin-top: 2rem;
  
  width: 80%;
  height: 80vh;
  border: black 1px solid;
}

.q-surface-image {
  display: none;
}